body{
  background-color: #faf3e0;
}

*{
  font-family: "Poppins", sans-serif;
}
.h-font{
  font-family: 'Merienda', cursive;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.btn-login {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-left: 8px;
  background-color: #6689e9; 
  color: #e5e7eb;
  border: none;
  border-radius: 0.375rem; 
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #9adaf0; 
  color: #fff;
}

.swiper-slide img {
  width: 100%;         
  height: 450px;      
  object-fit: cover;  
  border-radius: 40px;
  display: block;
  margin-top: 15px;
}

.form-label {
  font-weight: 500;
}

.custom-bg{
  background-color: #2ec1ac;
}

.custom-bg:hover{
  background-color: #279e8c;
}

.btn-buscardisponibilidad{
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #2ec1ac; 
  color: #e5e7eb;
  border: none;
  border-radius: 0.375rem; 
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-buscardisponibilidad:hover {
  background-color: #279e8c; 
  color: #fff;
}

.availability-form {
  margin-top: -50px ;
  z-index: 2;
  position: relative;
}

@media screen and (max-width: 575px) {
  .availability-form {
    margin-top: 25px;
    padding: 0 35px;
  }
}




.swiper {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
    }